@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Custom styles in index.css */
.dish-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .slick-center .dish-image {
    width: 250px;
    height: 250px;
    transition: transform 1s ease-in-out;
  }
  
  .slick-slide:not(.slick-center) .dish-image {
    opacity: 0.6;
  }
  
  .grow-from-small {
    transform: scale(0.7);
  }


  .slick-center .grow-from-small {
    transform: scale(1);
  }

  .slick-next::before {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #ffffff;
    background: linear-gradient(180deg, #febf24 0%, #ea4232 100%);
  }


.slick-prev::before {
    width: 85px;
    height: 85px;
   font-size: 25px;
    border-radius: 50%;
    color: #ea4232;
    color: #ffffff;
    background: linear-gradient(180deg, #febf24 0%, #ea4232 100%);
  }

  
  @media only screen and (min-width: 390px)  {
    .slick-prev::before {
      display: none;
    }

    .slick-next{
      display: none !important;
    }
  }